body {
  background-color: #fafafa;
  font-family: 'DM Sans', sans-serif;
  color: #3e3e42;
  font-size: 16px;
  line-height: 1.3;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  color: rgba(51, 51, 51, 0.6);
  line-height: 1.6;
}

a {
  color: #3e3e42;
  text-decoration: none;
}

.container {
  display: block;
  width: 100%;
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
}

.container.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.menu-button {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.hero-section {
  width: 100%;
  height: 90vh;
  padding-top: 160px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: rgba(99, 171, 248, 0.1);
}

.hero-content-wrapper {
  padding-top: 93px;
}

.hero-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.animation-block {
  display: none;
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.animation-white-box {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.animation-white-box.top-fix {
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.animation-white-box.waiting-box {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 150px;
  min-height: 56px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.animation-white-box.parent-teacher {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.animation-white-box.parent-teacher._3 {
  display: none;
}

.animation-white-box.parent-teacher._4 {
  display: none;
}

.harry-image {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

.animation-text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.harry-name {
  margin-bottom: 8px;
  font-size: 20px;
}

.text-fade {
  color: rgba(62, 62, 66, 0.5);
  font-size: 12px;
}

.alert-icon {
  margin-right: 16px;
}

.flex-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.parent-teacher-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.parent-teacher-block._1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.parent-teacher-block._2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.parent-teacher-block._3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.parent-teacher-block._4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.waiting-image {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

.waiting-image.right {
  margin-top: 8px;
  margin-left: 12px;
}

.waiting-image.left {
  margin-top: 8px;
  margin-right: 12px;
  margin-left: 0px;
}

.waiting-circle {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 50%;
}

.waiting-circle.c1 {
  background-color: rgba(0, 0, 0, 0.1);
}

.waiting-circle.c2 {
  background-color: rgba(0, 0, 0, 0.2);
}

.waiting-circle.c3 {
  background-color: rgba(0, 0, 0, 0.4);
}

.animation-flex {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.animation-flex.right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.guardian-name {
  color: #298ffd;
  font-weight: 500;
}

.guradian-name-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.message {
  margin-top: 8px;
}

.span-blue {
  color: #298ffd;
}

.block-scroll {
  position: relative;
  top: 0px;
  bottom: 0em;
  max-height: 400px;
  padding-bottom: 10px;
}

.hide {
  display: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.feature {
  display: -ms-grid;
  display: grid;
  margin-top: 120px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 160px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.feature-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.featuer-para {
  margin-bottom: 20px;
  line-height: 2;
}

.seconday-btn {
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #63abf8;
  font-size: 18px;
}

.feature-image {
  -o-object-fit: contain;
  object-fit: contain;
}

.section-heading-container {
  width: 70%;
}

.section-heading-container.blog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-para {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.testimonial-slider {
  width: 100%;
  height: auto;
  margin-top: 60px;
  padding: 48px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.arrow {
  left: auto;
  top: auto;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #63abf8;
  font-size: 18px;
}

.arrow.left {
  top: auto;
  right: 90px;
}

.testimonial-comma {
  position: absolute;
  left: auto;
  top: 20px;
  right: 40px;
  bottom: auto;
  z-index: 10;
}

.slide-contents {
  display: -ms-grid;
  display: grid;
  padding-right: 15%;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.testimonial-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.testimonial-text {
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
}

.testimonial-name {
  margin-bottom: 4px;
  color: #333;
  font-size: 16px;
}

.teestimonial-desgination {
  font-size: 14px;
}

.testimonial-net {
  position: absolute;
  left: auto;
  top: -10%;
  right: 10%;
  bottom: auto;
  z-index: -1;
}

.testimonial-bg-color {
  position: absolute;
  left: 32px;
  top: 32px;
  right: 0%;
  z-index: -1;
  width: 80%;
  height: 100%;
  border-radius: 8px;
  background-color: #298ffd;
}

.logo-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-link.blue {
  color: #63abf8;
  font-size: 14px;
}

.link-arrow {
  margin-left: 8px;
}

._3-column-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._3-column-grid.icon-grid {
  grid-row-gap: 60px;
}

.news-card {
  overflow: hidden;
  border-radius: 8px;
  background-color: #f4f9ff;
}

.news-image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.news-card-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news-card-heading {
  color: #333;
  font-size: 20px;
}

.news-card-date-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news-date-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}

.news-author-image {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
}

.date-icon {
  margin-right: 8px;
  margin-bottom: -4px;
  color: #298ffd;
}

.case-study-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 40px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 40px auto;
  grid-template-rows: auto auto;
}

.cs-image-big {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.cs-heading-big {
  margin-top: 16px;
  font-size: 24px;
}

.cs-school-name {
  margin-top: 12px;
  margin-bottom: 12px;
  color: rgba(51, 51, 51, 0.5);
  font-size: 14px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.cs-image-small {
  max-height: 64px;
  min-height: 64px;
  min-width: 64px;
  margin-right: 20px;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

.cs-heading-small {
  font-size: 16px;
  line-height: 1.5;
}

.lottie-animation {
  padding-right: 96px;
  padding-left: 96px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #333;
}

.footer-demo-strip {
  display: -ms-grid;
  display: grid;
  margin-bottom: 40px;
  padding-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.secondary-btn {
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  background-color: #63abf8;
}

.secondary-btn.right-margin {
  margin-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tertiary-btn {
  padding: 12px 32px;
  border-radius: 4px;
  background-color: rgba(99, 171, 248, 0);
}

.footer-heading {
  margin-bottom: 16px;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}

.footer-heading-subtext {
  color: hsla(0, 0%, 100%, 0.5);
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  margin-bottom: 32px;
  padding-bottom: 32px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.footer-grid-heading {
  margin-bottom: 32px;
  color: #63abf8;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  color: #fff;
  line-height: 1.6;
}

.newsletter-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.newsletter-field {
  max-width: 350px;
  margin-right: 20px;
  margin-bottom: 0px;
  border: 1px solid #fdf0e9;
  border-radius: 4px;
}

.success-message {
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.74);
  font-size: 14px;
}

.footer-bottom-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.terms-link {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
}

.terms-link.light {
  color: rgba(255, 255, 255, 0.5);
}

.footer-social {
  margin-left: 20px;
}

.nav-cta-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.primary-btn {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #298ffd;
  font-size: 16px;
}

.primary-btn.big {
  padding-bottom: 12px;
}

.primary-btn.nav {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(62, 62, 66, 0.2);
  background-color: rgba(135, 149, 165, 0);
  color: #3e3e42;
}

.primary-btn.white {
  background-color: #fff;
  color: #298ffd;
}

.nav-text-link {
  margin-right: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.section-3-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 0.75fr;
  grid-template-columns: 1fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-btn {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  color: #298ffd;
}

.text-btn.rise-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.text-btn-text {
  margin-right: 8px;
}

.section-3-para {
  margin-top: 12px;
  margin-bottom: 32px;
}

.section-3-container {
  padding-top: 40px;
}

.section-3-container.right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #298ffd;
}

.contact-popup {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup-bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.form-block {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 24px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #fff;
}

.form-heading {
  margin-top: 0px;
  margin-bottom: 28px;
  font-weight: 400;
}

.text-field-flex {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-field {
  height: 48px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.form-container {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  width: 80%;
  max-width: 980px;
  padding: 32px;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.6);
}

.form-left-text {
  margin-top: 0px;
  margin-bottom: 16px;
  line-height: 1.4;
}

.success-message-2 {
  padding-left: 0px;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.cross-btn {
  width: 12px;
}

.cross-btn-container {
  position: absolute;
  top: -25px;
  right: -25px;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.section-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.rise-popup {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rise-popup-content-containr {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  width: 40%;
  max-width: 520px;
  min-width: 480px;
  padding: 32px;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.6);
}

.dropdown-list {
  padding: 4px 8px;
  border-radius: 4px;
}

.dropdown-list.w--open {
  min-width: 200px;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.06);
  background-color: #f7fbff;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-link {
  border-radius: 2px;
}

.dropdown-link:hover {
  background-color: #eff4fa;
}

.gif {
  margin-top: -40px;
}

.gif-container {
  overflow: hidden;
  width: 400px;
}

.link-block {
  display: block;
}

.cards-image {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 300px;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.feature-blue-block {
  display: -ms-grid;
  display: grid;
  max-height: 164px;
  max-width: 570px;
  margin-bottom: 16px;
  padding: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 8px;
  background-color: rgba(99, 171, 248, 0.1);
}

.blue-block-heading {
  margin-bottom: 12px;
  font-size: 20px;
}

.blue-block-para {
  color: rgba(62, 62, 66, 0.5);
}

.feature-blue-grid {
  position: relative;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.blue-block-image {
  width: 100px;
}

.oval {
  position: absolute;
  left: -20px;
  top: 40%;
  right: auto;
  bottom: auto;
}

.polygon {
  position: absolute;
  left: auto;
  top: 25%;
  right: -20px;
  bottom: auto;
}

.ball-grid-top {
  position: absolute;
  left: auto;
  top: -30px;
  right: 36px;
  bottom: auto;
}

.ball-grid-top.feature {
  top: 35px;
  right: 62px;
  z-index: -1;
}

.ball-grid-bottom {
  position: absolute;
  left: -27px;
  top: auto;
  right: auto;
  bottom: -18px;
}

.feature-image-container {
  position: relative;
}

.page-tag {
  display: inline-block;
  padding: 10px 21px;
  border-radius: 100px;
  background-color: #d7e8fa;
  color: #298ffd;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.solutions-hero-image {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 28px 28px 60px 0 rgba(101, 148, 218, 0.4);
}

.lower-section-heading-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lower-section-heading-container.blog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lower-section-heading-container.center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.lower-section-heading {
  font-size: 36px;
}

.lower-section-subheading {
  max-width: 70%;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.lower-section-subheading.full-width {
  max-width: 100%;
}

._20px-bold {
  color: rgba(62, 62, 66, 0.8);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}

._20px-bold.icon-grid-heading {
  margin-bottom: 8px;
}

.grid-icon {
  margin-bottom: 16px;
}

.para-small {
  color: rgba(51, 51, 51, 0.6);
}

.brain-card-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.shadow-card {
  border-radius: 8px;
  box-shadow: 0 4px 60px 0 rgba(62, 67, 85, 0.06);
}

.shadow-card.brain-card {
  padding: 32px;
}

.shadow-card.check-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 22px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #333;
  font-weight: 500;
}

.brain-heading {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

.brain-para {
  font-size: 18px;
}

.brain-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0%;
  bottom: 0%;
  width: 110px;
  margin-top: -55px;
  margin-left: -55px;
}

.image-4-card-section {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.check-card-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.checkmark-icon {
  margin-right: 16px;
}

.blue-strip {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
  margin-bottom: 120px;
  padding: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1.25fr 1fr;
  grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 16px;
  background-image: linear-gradient(310deg, #298ffd, #2573c7);
  box-shadow: 0 4px 60px 0 rgba(66, 74, 91, 0.1);
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .menu-button.w--open {
    background-color: #f7fbff;
    color: #3e3e42;
  }
  .nav-menu {
    margin-left: 0px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    background-color: #f7fbff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
  }
  .hero-section {
    height: auto;
    padding-top: 20px;
  }
  .hero-content-wrapper {
    text-align: center;
  }
  .hero-grid {
    justify-items: center;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .footer-demo-strip {
    justify-items: start;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .nav-cta-container {
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav-text-link {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
  }
  .section-3-grid {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .section-3-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .section-2 {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .flex-horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-demo-strip {
    justify-items: center;
    text-align: center;
  }
  .secondary-btn.right-margin {
    margin-right: 0px;
  }
  .footer-heading {
    font-size: 32px;
  }
  .footer-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    margin-top: 0px;
    font-size: 24px;
    line-height: 1.3;
  }
  p {
    font-size: 14px;
  }
  .hero-content-wrapper {
    padding-top: 60px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-para {
    font-size: 16px;
  }
  .lottie-animation {
    width: 100%;
    height: 400px;
    padding-right: 19px;
    padding-left: 19px;
  }
  .footer-bottom-grid {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .terms-link {
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .primary-btn.form {
    width: 100%;
  }
  .section-3-para {
    margin-top: 6px;
  }
  .form-block {
    padding: 16px 20px;
  }
  .form-heading {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 1.3;
  }
  .text-field-flex {
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .text-field {
    margin-bottom: 16px;
  }
  .form-container {
    width: 85%;
    padding: 21px 22px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .form-left-text {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.3;
  }
  .cross-btn-container {
    top: -25px;
    right: -20px;
  }
  .div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .rise-popup-content-containr {
    width: 85%;
    padding: 21px 22px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .image {
    max-width: 80%;
  }
  .gif {
    margin-left: -4vw;
  }
  .gif-container {
    width: auto;
    padding-right: 0px;
  }
}

#w-node-95a6b49ba183-0c663f16 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-d7fae0a4e243-0c663f16 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-fa4a49a166bb-49a166b3 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-fa4a49a166eb-49a166b3 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-7491376d499e-84258891 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-9cf5c92985bd-84258891 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-43ba79dfa9de-84258891 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-dacb8a129771-8a13a624 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-be2e75ec901d-8a13a624 {
  -ms-grid-column-align: end;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-fa4a49a166bb-49a166b3 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@media screen and (max-width: 767px) {
  #w-node-fa4a49a166bb-49a166b3 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-57b59fa61135-0c663f16 {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-fa4a49a166eb-49a166b3 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

